import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'

export default defineConfig({
  plugins: [react()], // ONLY this plugin
  base: '/CC-206-/',
  server: { port: 3000 },
  build: {
    outDir: 'dist',
    emptyOutDir: true,
    sourcemap: false,
    rollupOptions: {
      output: { manualChunks: undefined }
    }
  }
})